body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--center-color);
}

:root {
  --logo-l-color: #4d5ae5;
  --logo-r-color: #2e2f42;
  --contact-color: #434455;
  --center-color: #ffffff;
  --but-color: #4d5ae5;
  --logo-f-color: #f4f4fd;
  --button2-color: #404bbf;
  --last-abz-color: #e7e9fc;
}

/* LOGO 1*/

.logo0 {
  text-decoration: none;
}

.logo1 {
  color: var(--logo-l-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  list-style: none;
  text-decoration: none;
}

.logo2 {
  color: var(--logo-r-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  list-style: none;
  text-decoration: none;
}

.navigation {
  color: var(--logo-r-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}

.navigation:hover,
.navigation:hover {
  color: var(--but-color);
}

.contacts {
  color: var(--contact-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}

.contacts:hover,
.contacts:hover {
  color: var(--but-color);
}

/* SECTION1 */

/* .list-of-projects
{
I need to kill this logo.
 } */

.buttons {
  list-style: none;
}

button {
  background-color: var(--logo-f-color);
  color: var(--but-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px;
}

button:hover,
button:focus {
  color: var(--center-color);
  background-color: var(--button2-color);
  cursor: pointer;
}

/* SECTION2 */

.section2 {
  list-style: none;
}

.section2h2 {
  color: var(--logo-r-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.sectionp {
  color: var(--contact-color);
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* LOGO2 */

.logo3 {
  color: var(--logo-l-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  list-style: none;
  text-decoration: none;
}

.logo4 {
  color: var(--logo-f-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-decoration: none;
}

.last-abz {
  color: var(--last-abz-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  text-decoration: none;
}

/* 
#4D5AE5 logo
#2E2F42  logo nav list  wawd names
#434455 cont  text job post
#FFFFFF center
#4D5AE5 button
#F4F4FD logo finish
#E7E9FC;unter logo  
#404BBF ; button 2 
*/

/* ul {
  list-style: none;

  langheit/fontsiye
} */
